@use '../abstracts/' as abstracts;

dialog {
    padding: 0;
    border: none !important;
    @include abstracts.radius("lg");
    background-color: var(--bg-tertiary);
    color: var(--theme-text);
    width: 90vw;
    max-width: 600px;

    &::backdrop {
        @include abstracts.backdrop();
    }

    box-shadow: 0 1rem 1rem 0rem rgba(0, 0, 0, .2);

    & .content {
        display: flex;
        flex-direction: column;

        & .title {
            text-transform: uppercase;
            text-align: center;
            user-select: none;
        }

        & .body {
            padding: 1rem;
        }

        & .controls {
            display: flex;
            padding: 1rem;
            background-color: var(--bg-secondary);
            user-select: none;
            gap: 1rem;
            & .button {
                flex: 1 1 0px;
            }
            @include abstracts.mq("md") {
                justify-content: flex-end;
                & .button {
                    flex: initial;
                }
            }
        }
    }
}

dialog[open] {
    animation: modal-in 250ms forwards;
}

@keyframes modal-in {
    0% {
        opacity: 0;
        scale: .5;
        transform: translateY(64px);
    }

    100% {
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
}